// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2024 Mori Ltd. <mori@mori.pro>
 *
 * For DSDZ-H618 An Mini Core 1/2G DDR4 DRAM
 * Power By Mori
 */

/dts-v1/;

#include "sun50i-h616.dtsi"
#include "sun50i-h616-cpu-opp.dtsi"
#include "sun50i-h618-cpu-dvfs.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/leds/common.h>

/ {
	model = "DSDZ H618";
	compatible = "DSDZ,DSDZ-H618", "allwinner,sun50i-h618";

	aliases {
		serial0 = &uart0;
		serial1 = &uart1;
		serial2 = &uart2;
		serial3 = &uart3;
		serial4 = &uart4;
		serial5 = &uart5;
		mmc0 = &mmc0;
		mmc1 = &mmc1;
		mmc2 = &mmc2;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	connector {
		compatible = "hdmi-connector";
		type = "d";

		port {
			hdmi_con_in: endpoint {
				remote-endpoint = <&hdmi_out_con>;
			};
		};
	};

	reg_vcc5v: vcc5v {
		/* board wide 5V supply directly from the USB-C socket */
		compatible = "regulator-fixed";
		regulator-name = "vcc-5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};

	reg_vcc3v3: vcc3v3 {
		/* SY8089 DC/DC converter */
		compatible = "regulator-fixed";
		regulator-name = "vcc-3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&reg_vcc5v>;
		regulator-always-on;
	};

	reg_vcc_wifi_io: vcc-wifi-io {
		/* Always on 1.8V/300mA regulator for WiFi and BT IO */
		compatible = "regulator-fixed";
		regulator-name = "vcc-wifi-io";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		vin-supply = <&reg_vcc3v3>;
	};
	
			rfkill: rfkill {
			compatible = "allwinner,sunxi-rfkill";
		};

		btlpm: btlpm {
			compatible = "allwinner,sunxi-btlpm";
		};

	leds {
		compatible = "gpio-leds";
		heat {
			gpio = <&pio 6 13 GPIO_ACTIVE_HIGH>;
			label = "heartbeat_led";
			linux,default-trigger = "heartbeat";
		};
		dog {
			gpio = <&pio 6 14 GPIO_ACTIVE_HIGH>;
			label = "dog_led";
			linux,default-trigger = "heartbeat";
		};
	};

	wifi_pwrseq: wifi-pwrseq {
		compatible = "mmc-pwrseq-simple";
		clocks = <&rtc 1>;
		clock-names = "osc32k-out";
		reset-gpios = <&pio 6 18 GPIO_ACTIVE_LOW>; /* PG18 */
		post-power-on-delay-ms = <400>;
	};


	ac200_pwm_clk: ac200_clk {
		compatible = "pwm-clock";
		#clock-cells = <0>;
		// pwm5 period_ns = 500 > 334 for select 24M clock.
		pwms = <&pwm 5 500 0>;
		clock-frequency = <2000000>;
		status = "okay";
	};

	soc {
		pwm: pwm@300a000 {
			compatible = "allwinner,sun50i-h616-pwm";
			reg = <0x0300a000 0x400>;
			clocks = <&osc24M>, <&ccu CLK_BUS_PWM>;
			clock-names = "mod", "bus";
			resets = <&ccu RST_BUS_PWM>;
			pwm-number = <6>;
			pwm-base = <0x0>;
			sunxi-pwms = <&pwm0>, <&pwm1>, <&pwm2>, <&pwm3>, <&pwm4>, <&pwm5>;
			#pwm-cells = <3>;
			status = "okay";
		};

		pwm0: pwm0@0300a000 {
			compatible = "allwinner,sunxi-pwm0";
		};

		pwm1: pwm1@0300a000 {
			compatible = "allwinner,sunxi-pwm1";
			pinctrl-names = "default";
			pinctrl-0 = <&pwm1_ph_pin>;
		};

		pwm2: pwm2@0300a000 {
			compatible = "allwinner,sunxi-pwm2";
			pinctrl-names = "default";
			pinctrl-0 = <&pwm2_ph_pin>;
		};

		pwm3: pwm3@0300a000 {
			compatible = "allwinner,sunxi-pwm3";
			pinctrl-names = "default";
			pinctrl-0 = <&pwm3_ph_pin>;
		};

		pwm4: pwm4@0300a000 {
			compatible = "allwinner,sunxi-pwm4";
			pinctrl-names = "default";
			pinctrl-0 = <&pwm4_ph_pin>;
		};

		pwm5: pwm5@0300a000 {
			compatible = "allwinner,sunxi-pwm5";
			pinctrl-names = "default";
			pinctrl-0 = <&pwm5_pin>;
			clk_bypass_output = <0x1>;
			status = "okay";
		};
	};
	
	
    wifi_power: wifi-power {
        compatible = "regulator-fixed";        /* 这里只利用 gpios 属性做开关 */
        regulator-name = "vcc-wifi";
        /* H618: 0x06 是 PG 组，如果你确认是 PG18 就保持如下三元组 */
        gpios = <&pio 0x06 18 GPIO_ACTIVE_HIGH>;  /* = wlan_regon 脚 */
        enable-active-high;
        startup-delay-us = <120000>;            /* 上电后等待 120ms */
        off-on-delay-us = <50000>;              /* 断电后再上电，间隔 50ms */
        status = "okay";
    };
};

&de {
	status = "okay";
};

&hdmi {
	status = "okay";
};
&codec {
	allwinner,audio-routing =
			"Line Out", "LINEOUT";
	status = "okay";
};

&ahub_dam_plat {
	status = "okay";
};

&ahub1_plat {
	status = "okay";
};

&ahub1_mach {
	status = "okay";
};

&hdmi_out {
	hdmi_out_con: endpoint {
		remote-endpoint = <&hdmi_con_in>;
	};
};

&gpu {
	mali-supply = <&reg_dcdc1>;
	status = "okay";
};

&mmc0 {
	cd-gpios = <&pio 5 6 GPIO_ACTIVE_LOW>;	/* PF6 */
	bus-width = <4>;
	vmmc-supply = <&reg_dldo1>;
	max-frequency = <25000000>;
	status = "okay";
};

/* 你原有的节点保持不变（可贴在原处） */
&rfkill {
    compatible = "allwinner,sunxi-rfkill";
    status = "okay";
    chip_en;
    power_en;
    pinctrl-0;
    pinctrl-names;
    clocks;
    phandle = <0xd2>;

    wlan: wlan@0 {
        compatible = "allwinner,sunxi-wlan";
        wlan_busnum = <0x01>;                   /* 对应 sdc1，和我们代码里默认 bus=1 一致 */
        wlan_power;                             /* 保留无妨（BSP 用） */
        wlan_regon = <&pio 0x06 18 0>;          /* 这根脚与 wifi_power 的 gpios 相同 */
        wlan_hostwake = <&pio 0x06 15 0>;
        wakeup-source;
        phandle = <0xd3>;
        status = "okay";
    };

    bt: bt@0 {
        compatible = "allwinner,sunxi-bt";
        bt_power;
        bt_rst_n = <&pio 0x06 19 1>;
        phandle = <0xd4>;
        status = "okay";
    };
};

&btlpm {
    compatible = "allwinner,sunxi-btlpm";
    status = "okay";
    uart_index = <0x01>;
    bt_wake = <&pio 0x06 17 0>;
    bt_hostwake = <&pio 0x06 16 0>;
    wakeup-source;
    phandle = <0xd6>;
};


&mmc1 {
	vmmc-supply = <&reg_vcc3v3>;
	vqmmc-supply = <&reg_vcc_wifi_io>;
	mmc-pwrseq = <&wifi_pwrseq>;
	bus-width = <4>;
	non-removable;
	keep-power-in-suspend;
	cap-sd-highspeed;
	max-frequency = <25000000>;
	
	status = "okay";
};



&mmc2 {
	vmmc-supply = <&reg_vcc3v3>;
	vqmmc-supply = <&reg_vcc_wifi_io>;
	cap-mmc-hw-reset;
	bus-width = <8>;
	max-frequency = <15000000>;
	non-removable;
	mmc-hs200-1_8v;
	status = "okay";

};
&emac0 {
	status = "disabled";
};

&emac1 {
	pinctrl-names = "default";
	pinctrl-0 = <&rmii_pins>;
	phy-mode = "rmii";
	phy-handle = <&rmii_phy>;
	phy-supply = <&reg_dldo1>;
	allwinner,rx-delay-ps = <3100>;
	allwinner,tx-delay-ps = <700>;
	status = "okay";
};

&mdio1 {
	rmii_phy: ethernet-phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <1>;
	};
};

&ehci0 {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&ehci2 {
	status = "okay";
};

&ehci3 {
	status = "okay";
};

&ohci0 {
	status = "okay";
};

&ohci1 {
	status = "okay";
};

&ohci2 {
	status = "okay";
};

&ohci3 {
	status = "okay";
};

&ir {
	pinctrl-names = "default";
	pinctrl-0 = <&ir_rx_pin>;
	status = "okay";
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_ph_pins>;
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pins>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart2_pi_pins>;
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart3_pi_pins>;
	status = "okay";
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart4_pi_pins>;
	status = "okay";
};

&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart5_ph_pins>;
	status = "disabled";
};

&i2c1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pi_pins>;
	
	pcf8563: pcf8563@51 {
		status = "okay";
		compatible = "nxp,pcf8563";
		reg = <0x51>;
	};
};

&i2c3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3_pa_pins>;

	ac200_x: mfd@10 {
		compatible = "x-powers,ac200-sunxi";
		reg = <0x10>;
		clocks = <&ac200_pwm_clk>;
		// ephy id
		nvmem-cells = <&ephy_calibration>;
		nvmem-cell-names = "calibration";

		ac200_ephy: phy {
			compatible = "x-powers,ac200-ephy-sunxi";
			status = "okay";
		};
	};
};

&i2c4 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c4_ph_pins>;
	status = "disabled";
};

&usbotg {
	/*
	 * PHY0 pins are connected to a USB-C socket, but a role switch
	 * is not implemented: both CC pins are pulled to GND.
	 * The VBUS pins power the device, so a fixed peripheral mode
	 * is the best choice.
	 * The board can be powered via GPIOs, in this case port0 *can*
	 * act as a host (with a cable/adapter ignoring CC), as VBUS is
	 * then provided by the GPIOs. Any user of this setup would
	 * need to adjust the DT accordingly: dr_mode set to "host",
	 * enabling OHCI0 and EHCI0.
	 */
	dr_mode = "peripheral";
	status = "okay";
};

&usbphy {
	usb1_vbus-supply = <&reg_vcc5v>;
	status = "okay";
};

&cpu0 {
	cpu-supply = <&reg_dcdc2>;
	status = "okay";
};

&sid {
	ephy_calibration: ephy-calibration@2c {
		reg = <0x2c 0x2>;
	};
};

&cpu_temp_critical {
	temperature = <100000>;
};

&gpu_temp_critical {
	temperature = <100000>;
};

&ve_temp_critical {
	temperature = <100000>;
};

&ddr_temp_critical {
	temperature = <100000>;
};

&pio {
	vcc-pc-supply = <&reg_dldo1>;
	vcc-pf-supply = <&reg_dldo1>;
	vcc-pg-supply = <&reg_aldo1>;
	vcc-ph-supply = <&reg_dldo1>;
	vcc-pi-supply = <&reg_dldo1>;

	/omit-if-no-ref/
	i2c0_pi_pins: i2c0-pi-pins {
		/*pins = "PI5", "PI6";*/
		function = "i2c0";
	};

	/omit-if-no-ref/
	i2c1_pi_pins: i2c1-pi-pins {
		pins = "PI7", "PI8";
		function = "i2c1";
	};

	/omit-if-no-ref/
	i2c2_pi_pins: i2c2-pi-pins {
		pins = "PI9", "PI10";
		function = "i2c2";
	};

	i2c3_pa_pins: i2c3-pa-pins {
		pins = "PA10", "PA11";
		function = "i2c3";
		bias-pull-up;
	};

	/omit-if-no-ref/
	i2c4_ph_pins: i2c4-ph-pins {
		pins = "PH6", "PH7";
		function = "i2c4";
	};
	
	uart1_rts_cts_pins: uart1-rts-cts-pins {
		pins = "PG6", "PG7","PG8","PG9";
		function = "uart1";
	};

	/omit-if-no-ref/
	uart2_pi_pins: uart2-pi-pins {
		pins = "PI5", "PI6";
		function = "uart2";
	};


	/omit-if-no-ref/
	uart3_pi_pins: uart3-pi-pins {
		pins = "PI9", "PI10";
		function = "uart3";
	};

	/omit-if-no-ref/
	uart4_pi_pins: uart4-pi-pins {
		pins = "PI13", "PI14";
		function = "uart4";
	};

	/omit-if-no-ref/
	uart5_ph_pins: uart5-ph-pins {
		pins = "PH2", "PH3";
		function = "uart5";
	};

	/omit-if-no-ref/
	spi1_cs1_pin: spi1-cs1-pin {
		pins = "PH9";
		function = "spi1";
	};

	/omit-if-no-ref/
	pwm1_ph_pin: pwm1-ph-pin {
		pins = "PH3";
		function = "pwm1";
	};

	/omit-if-no-ref/
	pwm2_ph_pin: pwm2-ph-pin {
		pins = "PH2";
		function = "pwm2";
	};

	/omit-if-no-ref/
	pwm3_ph_pin: pwm3-ph-pin {
		pins = "PH0";
		function = "pwm3";
	};

	/omit-if-no-ref/
	pwm4_ph_pin: pwm4-ph-pin {
		pins = "PH1";
		function = "pwm4";
	};

	/omit-if-no-ref/
	pwm5_pin: pwm5-pin {
		pins = "PA12";
		function = "pwm5";
	};

	/omit-if-no-ref/
	spi1_pins: spi1-pins {
		pins = "PH6", "PH7", "PH8";
		function = "spi1";
	};
};

&spi1 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&spi1_pins>;
	pinctrl-1 = <&spi1_pins>;
	status = "okay";

	st7789v@0 {
		compatible = "sitronix,st7789v";
		reg = <0>;
		spi-max-frequency = <10000000>;
		rotate = <90>;
		spi-cpol;
		spi-cpha;
		rgb;
		fps = <30>;
		buswidth = <8>;
		backlight = <1>;
		width = <170>;
		height = <320>;
		reset-gpios = <&pio PH 8 GPIO_ACTIVE_LOW>;
		dc-gpios = <&pio PH 4 GPIO_ACTIVE_HIGH>;
		led-gpios = <&pio PH 9 GPIO_ACTIVE_LOW>;
		debug = <0>;
		status = "okay";
	};
};

